body {
  background: url(astronomy-atmosphere-earth-220201.jpg);
  font-family: 'Orbitron', sans-serif;
  color: #f4c900;
  /* display: flex;
  justify-content: center;
  align-items: center;
   */
  display: grid;
  height: 100%;
}
.container{
  text-align: center;
  width: 600px;
  height: 300px;
  margin: auto;
}
    .btnGroup{
      margin:100px;
    }
.mainbtn{
  width:100px;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  background:#510a83;
  border-radius: 5px;
  display: inline-block;
  border: none;
  margin: 10px;
  padding: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.mainbtn:hover {
  background-color: gray;
}
